results/
images/shading-test/
images/shadows/
code/config.py
code/changelog.py
code/concrete.py
code/configexample.py
code/original_functions.py
code/removed.py
code/sensitivity.py
code/spatial-risks.py
outputs/sensitivity/
data/
manuscript/
outputs/asphalt/region-values
outputs/concrete/
outputs/building_record.json
outputs/height_record.json
outputs/land_cover_record.json
outputs/proximity_record.json
outputs/proximity_record_ireland.json
outputs/water_record.json